{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% trans %}Compte Administrateur{% endtrans %}
{% endblock %}

{% block body %}
	<div class="row pad-botm">
		<div class="col-md-12">
			<h4 class="header-line">{% trans %}Réclamations de{% endtrans %} SanarLav</h4>
		</div>
	</div>

	<div class="row">
		<div
			class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans %}Listes des réclammations{% endtrans %}
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>#</th>
									<th>{% trans %}Description{% endtrans %}</th>
									<th>{% trans %}Commande{% endtrans %}</th>
									<th>{% trans %}Client{% endtrans %}</th>
									<th>{% trans %}Statut{% endtrans %}</th>
									<th>{% trans %}Prix{% endtrans %}</th>
									<th>{% trans %}Date{% endtrans %}</th>
									<th>{% trans %}Date de mise à jour{% endtrans %}</th>
									<th>{% trans %}actions{% endtrans %}</th>
								</tr>
							</thead>
							<tbody>
								{% for reparation in reparations %}
									<tr>
										<td>{{ reparation.id }}</td>
										<td>{{ reparation.description }}</td>
										<td>{{ reparation.commandeid}}</td>
										<td>{{ reparation.userid }}</td>
										<td>{{ reparation.statut }}</td>
										<td>{{ reparation.prix }}</td>
										<td>{{ reparation.date ? reparation.date|date('Y-m-d H:i:s') : '' }}</td>
										<td>{{ reparation.dateUpdate ? reparation.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<a href="{{ path('app_reparations_show', {'id': reparation.id}) }}">{% trans %}Voir{% endtrans %}</a>
											<a href="{{ path('app_reparations_edit', {'id': reparation.id}) }}">{% trans %}Editer{% endtrans %}</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="12">{% trans %}Pas de réclammations présents deans la base{% endtrans %}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>

{% endblock %}
