{% extends 'admin/base_admin.html.twig' %}

{% block title %}{% trans %}Compte Administrateur{% endtrans %}
{% endblock %}

{% block body %}
	<div class="row pad-botm">
		<div class="col-md-12">
			<h4 class="header-line">{% trans %}Abonnements de SanarLav{% endtrans %}</h4>
		</div>
	</div>

	<div class="row">
		<div
			class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans %}Listes des commandes{% endtrans %}
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>

								<tr>
									<th>#</th>
									<th>{% trans %}Date{% endtrans %}</th>
									<th>{% trans %}Article{% endtrans %}</th>
									<th>{% trans %}Client{% endtrans %}</th>
									<th>{% trans %}Statut{% endtrans %}</th>
									<th>{% trans %}Date de mise à jour{% endtrans %}</th>
									<th>{% trans %}actions{% endtrans %}</th>
								</tr>
							</thead>
							<tbody>
								{% for commande in commandes %}
									<tr>
										<td>{{ commande.id }}</td>
										<td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
										<td>{{ commande.articleid }}</td>
										<td>{{ commande.clientid}}</td>
										<td>{{ commande.statut }}</td>
										<td>{{ commande.dateUpdate ? commande.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<a href="{{ path('app_commandes_show', {'id': commande.id}) }}">{% trans %}Voir{% endtrans %}</a>
											<a href="{{ path('app_commandes_edit', {'id': commande.id}) }}">{% trans %}Editer{% endtrans %}</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="12">{% trans %}Pas de commandes présents deans la base{% endtrans %}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>

{% endblock %}
