{% extends 'admin/base_admin.html.twig' %}

{% block title %}Compte Administrateur
{% endblock %}

{% block body %}
	<div class="row pad-botm">
		<div class="col-md-12">
			<h4 class="header-line">Utilisateurs de SanarLav</h4>
		</div>
	</div>

	<div class="row">
		<div
			class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-heading">
					Listes des utilisateurs
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>Prenom</th>
									<th>Nom</th>
									<th>Email</th>
									<th>Telephone</th>
									<th>Adresse</th>
									<th>Date de Création</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr class="gradeA">
										<td>{{user.prenom}}</td>
										<td>{{user.nom}}</td>
										<td>{{user.email}}</td>
										<td class="center">{{user.tel}}</td>
										<td class="center">{{user.adresse}}</td>
										<td class="center">{{user.datecreate |date('d/m/Y H:i:s')}}</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="12">Pas d'utilisateurs présents deans la base</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
{% endblock %}
